<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating blue darken-2 btn-large waves-effect waves-default">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#home"><i class="material-icons">arrow_upward</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#categories"><i class="material-icons">local_offer</i></a></li>
    <li><a class="btn-floating blue darken-2 waves-effect waves-default" href="#contact"><i class="material-icons">person</i></a></li>
  </ul>
</div>
