<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <a href="{{site.new_arrivals_url}}" ><img src="assets/images/{{site.new_arrivals_image}}"></a>
      </div>
      <div class="card-content">
        <span class="card-title"><a class="grey-text text-darken-4" href="{{site.new_arrivals_url}}">{{site.new_arrivals_title}}</a></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a href="{{site.tops_url}}" ><img src="assets/images/{{site.tops_image}}"></a>
      </div>
      <div class="card-content">
        <span class="card-title"><a class="grey-text text-darken-4" href="{{site.tops_url}}">{{site.tops_title}}</a></span>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a href="{{site.bottoms_url}}" ><img src="assets/images/{{site.bottoms_image}}"></a>
      </div>
      <div class="card-content">
        <span class="card-title"><a class="grey-text text-darken-4" href="{{site.bottoms_url}}">{{site.bottoms_title}}</a></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a href="{{site.dresses_url}}" ><img src="assets/images/{{site.dresses_image}}"></a>
      </div>
      <div class="card-content">
        <span class="card-title"><a class="grey-text text-darken-4" href="{{site.dresses_url}}">{{site.dresses_title}}</a></span>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a href="{{site.accessories_url}}" ><img src="assets/images/{{site.accessories_image}}"></a>
      </div>
      <div class="card-content">
        <span class="card-title"><a class="grey-text text-darken-4" href="{{site.accessories_url}}">{{site.accessories_title}}</a></span>
      </div>
    </div>
  </div>
</div>
