{% include head.html %}

<div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-darken-4">{{ site.title }}</h1>
        <img src="assets/images/logo.png" alt="noble" class="center-image">
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image}}" alt="Unsplashed background img 1"></div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <h1 class="header center teal-text text-darken-4">Coming Summer 2018</h1>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center"></div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.parallax_image}}" alt="Unsplashed background img 3"></div>
  </div>
</div>

{% include footer.html %}
