{% include head.html %}

<div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-darken-4">{{ site.title }}</h1>
        <img src="assets/images/{{site.logo}}" alt="noble" class="center-image">
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="assets/images/{{site.parallax_image}}" alt="bricks"></div>
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="shop" class="section scrollspy">
    {% include shop.html %}
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="assets/images/{{site.parallax_image}}" alt="bricks"></div>
  </div>
  <div class="container" style="padding:20px;">
    <div id="contact" class="section scrollspy">
      <h3 style="text-align:center;">Contact</h3>
      {% include contact.html %}
  </div>
</div>

{% include nav-burger.html %}
{% include cart.html %}
{% include footer.html %}
