---
layout: default
---
<div id="home" class="section scrollspy">
  <div id="index-banner" class="parallax-container" style="height: 200px; !important">
    <div class="section no-pad-bot">
      <div class="container">
        <a href="{{site.url}}"><img src="{{site.url}}/assets/images/logo.png" alt="noble" class="center-image"></a>
      </div>
    </div>
    <div class="parallax"><img src="{{site.url}}/{{site.parallax_image}}" alt="bricks"></div>
  </div>
</div>
<div class="container">
  <div class="col s10">
    <h3 class="post-title" itemprop="name headline" style="text-align:center">{{ page.pate_title | escape }}</h3>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>
</div>
